%nav__link {
  font-size: 18px;
  line-height: calc(25 / 18);
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: color 300ms linear;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(16 / 12);
  }
  &:hover {
    color: $accent;
  }
}
%tel {
  font-size: 18px;
  line-height: calc(25 / 18);
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(16 / 12);
  }
}
%social__list-before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: rgba(48, 48, 48, 1);
  margin-right: 40px;
}

%social__name {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: rgba(48, 48, 48, 1);
  transition: color 300ms linear;
  &:hover {
    color: $accent;
  }
}
