$grey-pre-title: rgba(157, 164, 189, 0.6);
$black-pre-title: rgba(48, 48, 48, 1);
$white-title: rgba(255, 255, 255, 1);
$black-title: rgba(48, 48, 48, 1);
$grey-after-title: rgba(157, 164, 189, 1);
$black-after-title: rgba(85, 85, 85, 1);
$black-btn: rgba(48, 48, 48, 1);
$white-btn: rgba(255, 255, 255, 1);
$accent: rgba(255, 108, 0, 1);
