.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  padding-top: 32px;
  padding-bottom: 32px;
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  fill: #ffffff;
  margin-left: 20px;
  @media screen and (min-width: 768px) {
    fill: #303030;
    margin-right: 60.64px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 69px;
  }
}
.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
}
.nav__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 25px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
  }
}
.nav__link {
  color: $white-title;
  @extend %nav__link;
}
.header__connect {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-right: 2px;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 3px;
  }
}
.header__tel {
  @extend %tel;

  color: #ffffff;
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
  }
}
.header__button {
  color: $white-btn;
  @media screen and (min-width: 768px) {
    max-width: 162px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}
// mobile menu
.open-menu-btn {
  margin-left: auto;
}

.mob-menu {
  position: relative;
  transform: translateX(100vw);
  transition: transform 300ms linear;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 73vw;
  height: 100vh;
  padding: 118px 50px;
  background-color: #ffffff;

  &.is-open {
    transform: translateX(27vw);
  }
}
.open-menu {
  margin-right: 20px;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.open-icon {
  fill: #ffffff;
  transition: fill 300ms linear;
  .open-menu:hover & {
    fill: $accent;
  }
}
.close-menu {
  position: absolute;
  top: 48px;
  right: 31px;
  background-color: transparent;
}
.close-icon {
  fill: $black-title;
  transition: fill 300ms linear;
  .close-menu:hover & {
    fill: $accent;
  }
}
.mob-nav__list {
  margin-bottom: 64px;
}
.mob-nav__item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-nav__link {
  @extend %nav__link;

  font-size: 18px;
  line-height: calc(25 / 18);
  color: $black-title;
}
.mob-connect {
  margin-bottom: 64px;
}
.mob-tel {
  @extend %tel;
  color: $black-title;
}
.mob-button {
  display: block;
  margin-top: 24px;
  max-width: 194px;
  width: 100%;
}
.mob-socials__list {
  &::before {
    @extend %social__list-before;
  }
}
.mob-socials__item {
  transform: translate(100px, -50%);
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.mob-socials__link {
  @extend %social__name;
  font-size: 14px;
  line-height: calc(19 / 14);
}
